DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DB"
SESSION_COOKIE_NAME="ek_sess"
SESSION_JWT_SECRET="dev-secret"
CLOSING_DATE_UTC="2025-11-30T18:30:00Z"
MAX_PHOTO_MB="25"
MAX_VIDEO_MB="250"
NEXT_PUBLIC_ENV="local"   # local | vercel | preview
NEXT_PUBLIC_MAX_PHOTO_MB="25"
NEXT_PUBLIC_MAX_VIDEO_MB="250"
